<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Holter</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-5.7.2/css/all.min.css" />
    <link rel="stylesheet" href=../../css/simplebar.min.css" />
    <link rel="stylesheet" href="../../css/holter-style.css" />
    <link rel="stylesheet" href="../../css/layout-tools.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="../../css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>

<body class="">
    <div class="main-wrapper">
        <header id="holter-header" class="holter-header">
            <div class="holter-header__title">
                <span id="menu-sw" class="holter-header__menu-sw"><i class="fas fa-bars"></i></span>
                <span class="hidable">Bienvenido
                    <span id="user-name" class="holter-header__user-name">Joel Montalvo</span></span>
                <span class="holter-header__holter-label">Holter</span>
            </div>
            <div class="holter-header__menu-options">
                <ul class="holter-header__options-ul">
                    <li id="holter-user-sw" class="holter-header__options-li">
                        <a href="#"><i class="fas fa-user"></i></a>
                        <div id="holter-user" class="holter-user hide">
                            <img class="holter-user__photo" src="http://lorempixel.com/400/400/people/" alt="" />
                            <h3 class="holter-user__name">Joel Montalvo</h3>
                            <h3 class="holter-user__info">joelm@gmail.com</h3>
                            <ul class="holter-user__menu">
                                <li class="holter-user__li">
                                    <i class="fas fa-user"></i>
                                    <a href="../profile.html">Perfil de Usuario</a>
                                </li>
                                <li class="holter-user__li">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <a href="../login.html">Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
        </header>
        <div class="body-container" data-simplebar>
            <div id="main-flex-wrapper" class="full-main vertical-cards-wrapper">
                <div id="solicitudes" class="card fade-animation  ">
                    <div class="card__header">
                        <h2 class="card__title">Administrar usuarios</h2>
                        <ul class="card__actions">
                            <li id="new-request" class="card__btn-action">
                                <i class="fas fa-plus-circle"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="card__body">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-font"
                                            aria-hidden="true"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Filtrar datos">
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <select id="inputState" class="form-control">
                                    <option selected="">Estado</option>
                                    <option>Activo</option>
                                    <option>Inactivo</option>

                                </select>
                            </div>
                            <div class="col-md-3 col-12">
                                <select id="inputState" class="form-control">
                                    <option selected="">Rol</option>
                                    <option>Tecnico</option>
                                    <option>Medico</option>
                                    <option>Centro de salud</option>

                                </select>
                            </div>

                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th>Rol</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>Elias</td>
                                    <td>elias@gmail.com</td>
                                    <td>315545454</td>
                                    <td>C6678 // 2865 – 1215</td>
                                    <td> Tecnico</td>
                                    <td> Activo</td>
                                    <td>
                                        <span id="detail-1"><i class="fas fa-eye"></i></span>
                                        <span id="update-patient"><i class="fas fa-pencil-alt"></i></span>
                                        <span id="delete-patient"><i class="fas fa-trash-alt"></i></span>
                                    </td>
                                </tr>

                                <tr class="">
                                    <td>Ana</td>
                                    <td>ana@gmail.com</td>
                                    <td>315545454</td>
                                    <td>C6678 // 2865 – 1215</td>
                                    <td>Medico</td>
                                    <td>Activo</td>
                                    <td>
                                        <span id="detail-1"><i class="fas fa-eye"></i></span>
                                        <span id="update-patient"><i class="fas fa-pencil-alt"></i></span>
                                        <span id="delete-patient"><i class="fas fa-trash-alt"></i></span>
                                    </td>
                                </tr>

                                <tr class="">
                                    <td>Joel</td>
                                    <td>joel@gmail.com</td>
                                    <td>315545454</td>
                                    <td>C6678 // 2865 – 1215</td>
                                    <td> Centro de salud</td>
                                    <td> Activo</td>
                                    <td>
                                        <span id="detail-1"><i class="fas fa-eye"></i></span>
                                        <span id="update-patient"><i class="fas fa-pencil-alt"></i></span>
                                        <span id="delete-patient"><i class="fas fa-trash-alt"></i></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

                <div id="detalle-solicitud" class="card fade-animation fade-hide-animation hide">
                    <div class="card__header">
                        <h2 class="card__title">Elias Colon</h2>
                        <ul class="card__actions">

                            <li id="close-details" class="card__btn-action">
                                <i class="fas fa-times-circle"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="card__body">
                        <div class="fluid-container">
                            <div class="col-md-4  col-6 pd-10">

                                <p>
                                    <span class="holter-emphasis">Tipo de Identificación: </span>
                                    CC
                                </p>
                                <p><span class="holter-emphasis">Identificación: </span>
                                    1000249494
                                </p>
                                <p><span class="holter-emphasis">Correo eectrónico: </span>
                                    eliascolon98@gmail.com
                                </p>

                            </div>
                            <div class="col-md-4  col-6 pd-10">
                                <p><span class="holter-emphasis">Teléfono: </span>
                                    385466115
                                </p>
                                <p><span class="holter-emphasis">Dirección: </span>
                                    Calle 22 # 48-20
                                </p>
                                <p><span class="holter-emphasis">Departamento: </span>
                                    Sanitas
                                </p>

                            </div>
                            <div class="col-md-4  col-12 pd-10">
                                <p><span class="holter-emphasis">Ciudad: </span>
                                    xxxxxxx
                                </p>
                                <p><span class="holter-emphasis">Rol: </span>
                                    Tecnico
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="nueva-solicitud" class="card fade-animation fade-hide-animation hide">
                    <div class="card__header">
                        <h2 class="card__title">Crear nuevo usuario:</h2>
                        <ul class="card__actions">
                            <li id="close-new-request" class="card__btn-action">
                                <i class="fas fa-times-circle"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="card__body">
                        <div class="fluid-container">
                            <div class="col-md-4 col-12 pd-10">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-id-card"></i></span>
                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="NONE">Rol</option>
                                        <option value="1">CC</option>
                                        <option value="2">TI</option>
                                        <option value="3">NIT</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-user"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Nombre" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-user"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Apellido" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-id-card"></i></span>
                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="NONE">Tipo de Identificación</option>
                                        <option value="1">CC</option>
                                        <option value="2">TI</option>
                                        <option value="3">NIT</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-4 col-12 pd-10">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-id-card"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Identificación" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-envelope"></i></span>
                                    <input class="input-wrapper__input" type="email" placeholder="Correo Electrónico" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-phone"></i></span>
                                    <input class="input-wrapper__input" type="tel" placeholder="Teléfono" />
                                </div>

                            </div>
                            <div class="col-md-4 col-12 pd-10">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-map-marker-alt"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Dirección" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-file-medical"></i></span>

                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="">Departamento</option>
                                        <option value="1">Bolivar</option>
                                        <option value="2">Sucre</option>
                                        <option value="3">Antioquia</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-file-medical"></i></span>

                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="">Ciudad</option>
                                        <option value="1">Magangué</option>
                                        <option value="2">Sincelejo</option>
                                        <option value="3">Barranquilla</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions ta-right">
                            <button id="save-request" type="button" class="holter-btn">Guardar usuario</button>
                        </div>
                    </div>
                </div>
                <div id="actualizar-solicitud" class="card fade-animation fade-hide-animation hide">
                    <div class="card__header">
                        <h2 class="card__title">Nueva Solicitud:</h2>
                        <ul class="card__actions">
                            <li id="close-new-request-2" class="card__btn-action">
                                <i class="fas fa-times-circle"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="card__body">
                        <div class="fluid-container">
                            <div class="col-md-4 col-12 pd-10">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-user"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Nombre"
                                        value="Elias" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-user"></i></span>
                                    <input class="input-wrapper__input" type="text" placeholder="Apellido"
                                        value="colon" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-id-card"></i></span>
                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="NONE">Tipo de Identificación</option>
                                        <option value="1" selected>CC</option>
                                        <option value="2">TI</option>
                                        <option value="3">NIT</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-4 col-12 pd-10">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-id-card"></i></span>
                                    <input class="input-wrapper__input" type="text" value="100564544"
                                        placeholder="Identificación" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-envelope"></i></span>
                                    <input class="input-wrapper__input" type="email" value="elias@gmail.com"
                                        placeholder="Correo Electrónico" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-phone"></i></span>
                                    <input class="input-wrapper__input" type="tel" value="3111545454"
                                        placeholder="Teléfono" />
                                </div>

                            </div>
                            <div class="col-md-4 col-12 pd-10">
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-map-marker-alt"></i></span>
                                    <input class="input-wrapper__input" type="text" value="Calle 22 #22"
                                        placeholder="Dirección" />
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-file-medical"></i></span>

                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="">Departamento</option>
                                        <option value="1" selected>Bolivar</option>
                                        <option value="2">Sucre</option>
                                        <option value="3">Antioquia</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <span class="input-wrapper__icon"><i class="fas fa-file-medical"></i></span>

                                    <select name="" id="supplier" class="input-wrapper__input">
                                        <option value="">Ciudad</option>
                                        <option value="1" selected>Magangué</option>
                                        <option value="2">Sincelejo</option>
                                        <option value="3">Barranquilla</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions ta-right">
                            <button id="update-request" type="button" class="holter-btn">Actualizar datos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar" class="sidebar">
        <div class="sidebar__header">
            <span class="sidebar__header__user-rol">Aministradir <i class="fas fa-caret-right"></i></span>
        </div>
        <div class="sidebar__menu">
            <div class="sidebar__menu-set">
                <ul class="sidebar__menu-set-ul">
                    <li class="sidebar__menu-set-li">
                        <a href="#"><i class="fas fa-home"></i>Inicio</a>
                    </li>
                    <li class="sidebar__menu-set-li ">
                        <a href="index.html"><i class="fas fa-list-ul"></i>Ordenes </a>
                    </li>
                    <li class="sidebar__menu-set-li sidebar__menu-set-li--active">
                        <a href="admin-users.html"><i class="fas fa-list-ul"></i>Administrar usuarios</a>
                    </li>

                    <li class="sidebar__menu-set-li ">
                        <a href="admin-devices.html"><i class="fas fa-list-ul"></i>Dispositivos</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="sidebar__brand-container">
            <div class="sidebar__copy">
                Copyright &copy; 2023
                <br />
                Desarrollado por <span>Elias Colón</span>
            </div>
        </div>
    </div>
    <script src="../../js/jquery-3.6.4.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js//simplebar.js"></script>
    <script src="../../js/rs-validator.js"></script>
    <script src="../../js/request-manager.js"></script>
    <script src="../../js/sweetalert2@11.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>



</body>

</html>